
<nav class="slide panel black bottom">
    <div class="sections fix-12-12">
        <div class="fix-6-12">
            <ul class=" flex ">
                <h4 class="text-white margin-right-2 margin-left-3">Suscribete  </h4> <input type="text" placeholder="Ingresa tu Email">

            </ul>
        </div>
        <div class="fix-6-12">
            <ul class="menu crop text-white">
                <li ><a href="https://web.facebook.com/jimjoa/"><i class="fa-brands fa-facebook h6 large"></i></a></li>
                <li><a href="https://www.linkedin.com/in/joan-narvaez-872b16174/"><i class="fa-brands fa-linkedin h6 large"></i></a></li>
                <li><a href="https://www.instagram.com/jimjoa2903/"><i class="fa-brands fa-instagram h6 large"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

include svg_library

</body>
</html>