-

    //- ::: Variables PUG ::: -//

    let base = '';


//- ::: Include Head & Body ::: -//
include ../includes/head


<section class="slide fade-6 kenBurns selected animate active" data-title="Slide #11 (11)" data-name="slide-11-cb23524d">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <h1 class="smallest margin-bottom-2 done">Bienvenido al Proyecto de modulo <span class="text-yellow">Javascripts</span> del Bootcamp FullStack de Javascript de<br><span class="text-yellow"><a href="https://programadoreschile.org/"><img src="../../../assets/img/home/logos/programadores-chile-0.png" width="400" alt=""></a></span></h1>
                    <h2 class=" Roboto margin-bottom-2 done"><span class="opacity-8"> En este Modulo pudimos aprender:</span></h2>
                    <p class="large"> Introducci贸n a la programaci贸n con Javascript <br>  Introducci贸n a ECMAScript 6 <br>  Asincronismo <br>  Introducci贸n a Google App Script <br>  Consumo de Api con Alpine Js</p>
                    <a href="#{base}../../../../../jAlpines/index.html" class="button rounded transparent margin-top-1 text-amber border stroke padding-right-5 padding-left-5 done">Entrar</a>

                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{base}assets/img/home/backgrounds/verde-metal.jpg)"></div>
</section>




//- :::  Section of Plugins in this Page ::: -//
+background_youtube()

//- :::  Star Footer Content ::: -//
include ../includes/footer
